<p id="notice"><%= notice %></p>

<h1>Pacientes de : <%= @current_user.email %> </h1>



<div class="container">
  <div class="row">
    <% @pacientes.each_slice(4) do |row| %>
      <% row.each do |pac| %>
        <div class="col-3">
          <div class="card">
            <%= image_tag pac.photo, class: 'card-img-top' %>
            <div class="card-body">
              <h5> <%= pac.name %> </h5>
              <p> <%= pac.last_name %> </p>
              <p> <%= pac.role %> </p>
              <%= link_to 'Show', pac %>
              <%= link_to 'Sesion Del Paciente', paciente_sesion_particulars_path(pac) %>
              <%= link_to 'Edit', edit_paciente_path(pac) %>
              <%= link_to 'Destroy', pac, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="w-100" style="margin-top:20px;"> </div>
    <% end %>
  </div>
</div>


<%= link_to 'New Paciente', new_paciente_path %>
