<p id="notice"><%= notice %></p>

<h1>Sesion Colegios</h1>

<table>
  <thead>
    <tr>
      <th>Cita</th>
      <th>Descripcion</th>
      <th>Numero cita</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sesiones_colegio.each do |sesion_colegio| %>
      <tr>
        <td><%= sesion_colegio.cita %></td>
        <td><%= sesion_colegio.descripcion %></td>
        <td><%= sesion_colegio.numero_cita %></td>
        <td><%= link_to 'Show', sesion_colegio %></td>
        <td><%= link_to 'Edit', edit_sesion_colegio_path(sesion_colegio) %></td>
        <td><%= link_to 'Destroy', sesion_colegio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sesion Colegio',  new_paciente_tratamiento_sesion_colegio_path(@tratamiento.paciente, @tratamiento) %>

<%= link_to 'Tratamientos del Paciente', paciente_tratamientos_path %>
