

<p>
  <strong>Cita:</strong>
  <%= @sesion_colegio.cita %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @sesion_colegio.descripcion.html_safe %>
</p>

<p>
  <strong>Numero cita:</strong>
  <%= @sesion_colegio.numero_cita %>
</p>

<%= link_to 'Edit', edit_sesion_colegio_path(@sesion_colegio) %> |
<%= link_to 'Back', paciente_tratamiento_sesion_colegios_path(@sesion_colegio.tratamiento, @tratamiento) %>
