<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tratamiento.name %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @tratamiento.plan %>
</p>

<%= link_to 'Edit', edit_tratamiento_path(@tratamiento) %> |
<%= link_to 'Back', paciente_tratamientos_path(@paciente) %>
