

<header id="header" class="fixed-top">
  <div class="wrap">
    <div id="logo">
      <span class="gear">S</span>

        <h3><a href="<%= root_path %>">Srs</a></h3>
    </div>

    <nav id="menu">
      <ul>
        <% if user_signed_in? %>
        <li><%= link_to 'Pacientes', pacientes_path %></li>
        <li><%= link_to 'New Paciente', new_paciente_path %></li>
        <% end %>
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li class="nav-item nav-link"><%= link_to 'Dashboard', dashboards_index_path %></li>
            <li class="nav-item nav-link"><%= link_to 'Cargos', cargos_path %></li>
          <% end %>
        <% end %>
        <% if user_signed_in? %>
          <li><a href="#"> Hola <%= current_user.name %>  !!</a></li>
          <li><%= link_to ' Cerrar sesión', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Inicia sesión', new_user_session_path %></li>
          <li><%= link_to 'Regístrate', new_user_registration_path %></li>
      <% end %>
      </ul>
    </nav>
  </div>
</header>
